@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

* {
  -ms-overflow-style: none; /* IE và Edge */
  font-family: "Inter", sans-serif;
  /* Ẩn scrollbar nhưng vẫn giữ khả năng scroll */
  scrollbar-width: none; /* IE và Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    color: white;
    background-color: black;
  }
}
